/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
body{
	font-family: 'Roboto', sans-serif !important;
	background-color: #f9f9f9 !important;
	
}
a {
    color: #ee2c48;
   
}
.card{
	background: #faf9f9 !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Roboto', sans-serif !important;
	}
html body.bg-full-screen-image {
    background: url(../../images/bg.jpg) no-repeat center center fixed !important;
    background-size: cover !important;
}
.navigation {
   font-family: 'Roboto', sans-serif !important;
}
.table tbody td, .table th {
    padding-left:0.5vw !important;
padding-right:0.5vw !important;
}
.rounded {
    border-radius: 10px !important;
}
.main-menu ul.navigation-main {
    margin-top: 20px;
}
.card-header{
	background: transparent !important;
}
h1{
	color:#ee2c48 !important;
	font-size:26px !important;
	text-transform: uppercase;
}
.navbar-light {
    background: #fff !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #666666;
}
.logn-form .has-icon-left .form-control {
    padding-right: 1rem;
    padding-left: calc(2.75rem + 2px);
    border-radius: 25px;
	padding-top: 13px;
    padding-bottom: 13px;
}
.logn-form h3{
	color: #fa8d9e;
	font-size: 26px;
	text-align: center;
	padding: 20px 0px !important;
	text-transform: uppercase;
}
.logn-form .has-icon-left .form-control-position {
    right: auto;
    left: inherit;
    margin-left: 5px;
	margin-top:1px;
	color: #999999;
}
.logn-form .form-control {
    border: 1px solid #e1e1e1;
    color: #3f587e;
}
.logn-form  .card-link{
	color:#4485c6;
	font-size:14px !important;
	text-decoration:underline;
}
.logn-form .form-control {
    border: 1px solid #e1e1e1;
    color: #000 !important;
}
.logn-form input[type="date"]{
	 color: #dcbc53 !important;
}
.logn-form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666666;
    opacity: 1; /* Firefox */
}

.logn-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666666;
}

.logn-form input::-ms-input-placeholder { /* Microsoft Edge */
    color: #666666;
}
.login-form-lab-gendr{
	color:#666666 !important;
	margin:0 10px 0 5px;
}
.logn-form form label {
    color: #999999;
	font-weight:500 !important;
}
.rad{
	border-radius:10px !important;}
.logn-form .btn-outline-primary {
    border-color: #fa8d9e;
    background-color:#fa8d9e;
    color: #fff;
	border-radius:25px;
	padding:17px 0px 15px 0px;
	font-weight:700;
	font-size:17px;
	text-transform:uppercase;
}
.logn-form .btn-outline-primary:hover {
    border-color: #dbba51;
    background-color:#fff;
    color: #dbba51 !important;
}
.logn-form .text-muted span {
	color:#999999 !important;
	font-size:15px !important;
	background: #faf9f9 !important
}
.logn-form .btn-outline-danger {
   border-color: #dbba51;
    background-color:#fff !important;
    color: #dbba51;
	border-radius:25px;
	padding:17px 0px 15px 0px;
	font-weight:700;
	font-size:17px;
	text-transform:uppercase;
}
.logn-form .btn-outline-danger:hover {
   border-color: #dbba51;
    background-color:#dbba51 !important;
    color: #fff;
}
.header-navbar {
    padding: 0px;
    min-height: 6rem;
   font-family: 'Roboto', sans-serif;
    transition: 300ms ease all;
}
.header-navbar .navbar-header .navbar-brand {
    padding: 0px 0px;
}
body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-brand {
 padding: 0px; 
}
body.vertical-layout.vertical-menu .navbar .navbar-brand {
    white-space: nowrap;
    margin-top: -13px;
}
.main-menu.menu-fixed {
    position: fixed;
    height: 100%;
    top: 6rem;
    height: calc(100% - 4rem);
}
html body .content .content-wrapper {
    padding: 4rem 1.8rem 1.8rem 1.8rem;
}
.main-menu.menu-light .navigation > li.hover > a, .main-menu.menu-light .navigation > li:hover > a, .main-menu.menu-light .navigation > li.active > a {
    color: #ee2c48;
    background-color: #f9f9f9;
}
.main-menu.menu-light .navigation > li {
    padding: 0;
    border-left: 0px !important;
}
.main-menu.menu-light .navigation li a {
    color: #666666;
	text-transform:uppercase;
	font-size:14px;
	font-weight:400 !important;
}
.main-menu.menu-light .navigation > li > a i {
    position: relative;
    top: 0px;
}


.fb-card{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#359ceb+0,359ceb+0,0073cc+100 */
background: #359ceb; /* Old browsers */
background: -moz-linear-gradient(left, #359ceb 0%, #359ceb 0%, #0073cc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #359ceb 0%,#359ceb 0%,#0073cc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #359ceb 0%,#359ceb 0%,#0073cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#359ceb', endColorstr='#0073cc',GradientType=1 ); /* IE6-9 */
border-radius:10px;
}
.insta-card{
background: #f3c254 !important; 
border-radius:10px;
}
.twt-card{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#359ceb+0,359ceb+100,5cadff+100 */
background: #359ceb; /* Old browsers */
background: -moz-linear-gradient(45deg, #359ceb 0%, #359ceb 100%, #5cadff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #359ceb 0%,#359ceb 100%,#5cadff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #359ceb 0%,#359ceb 100%,#5cadff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#359ceb', endColorstr='#5cadff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
border-radius:10px;
}
.gplus-card{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f06d42+0,f7563c+100 */
background: #f06d42; /* Old browsers */
background: -moz-linear-gradient(45deg, #f06d42 0%, #f7563c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #f06d42 0%,#f7563c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #f06d42 0%,#f7563c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f06d42', endColorstr='#f7563c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
border-radius:10px;
}
.fb-card p, .insta-card p, .twt-card p, .gplus-card p{
	color:#fff !important;
		font-size:13px;
	font-family: 'Roboto', sans-serif;
	font-weight:700;
	margin: 5px 0 0 0;
}
.fb-card i, .insta-card i, .twt-card i, .gplus-card i {
    font-size: 30px !important;
    background: #fff;
	width:70px;
	height:70px;
    text-align: center;
    border-radius: 50px;
    color: #2c95e5;
    padding-top: 20px;
	margin-top:0px;
}

.twt-card i {
	color:#40a1f1 !important;
}
.insta-card i{
	color:#f1bf53 !important;
}
.gplus-card i {
 	color:#ef6f43 !important;
}
.profile-frm{}

.profile-frm .btn-primary {
    border-color: #4485c6 !important;
    background-color: #4485c6 !important;
    color: #FFFFFF;
	font-size:15px !important;
	border-radius:25px;
	padding:15px 30px;
}
.profile-frm h1{
	color:#000000;
	font-size:25px;
	font-weight:400;
	text-transform:capitalize;
	margin:0 0 15px 0;
	
}
.profile-frm h1 i{
	color:#4485c6;
	padding:0 10px 0 0;
}
.edit-bttn{
	color:#666666;
	font-size:15px;
	float:right;
	margin:10px 0 0 0;
}
.edit-bttn i{
	padding:0 5px 0 0px;
}
form .form-actions {
    border-top: transparent;
    padding: 20px 0;
    margin-top: 20px;
}
.chat-application .chats .chat-body .chat-content {
    text-align: right;
    position: relative;
    display: block;
    float: right;
    padding: 8px 15px;
    margin: 0 20px 10px 0;
    clear: both;
    color: #fff;
    background-color: #007ab8 !important;
    border-radius: 4px;
}
.chat-application .chats .chat-left .chat-content {
    background-color: #edeef0 !important;
}
.chat-application .chats .chat-body .chat-content:before {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
    border-left-color: #007ab8 ;
}
.badge-primary {
    background-color: #007ab8;
}
.chat-application .primary {
    color: #007ab8 !important;
}
.chat-application .btn-primary {
       border-color: #007ab8 !important;
    background-color: #007ab8 !important;
    color: #FFFFFF;
}
.pro-main{
	width:100% !important;
	padding:20px !important;
}
.pro-inner-row{
	width:100%;
	border-bottom:1px solid #ccc;
	padding:10px 0px;
}
.pro-inner-row.nobord{
	border-bottom:none !important;
}
.pro-inner-row label{
	display:block;
	margin:0px !important;
	padding:0px 0px 3px 0px !important;
	color:#999999 !important;
	font-size:13px !important;
	font-family: 'Roboto', sans-serif;
}
.pro-inner-row label i{
	font-size:16px !important;
	width:20px !important;
}
.pro-inner-row p{
	margin:0px !important;
	padding:0px !important;
	color:#333333 !important;
	font-size:15px !important;
	font-family: 'Roboto', sans-serif;
}
.pro-img-main{
	position:relative;
	margin-top:15px;
}
.pro-img-main button{
	border-radius: 50px;
    border: none;
    background:#4485c6;
    color: white;
    padding:10px 12px;
	position:absolute;
	right:15px;
	bottom:15px;
    font-weight: 600;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.pro-img-main img{
	width:100%;
	border:10px solid #fff;
	-webkit-box-shadow: 1px 1px 10px 1px #eee;
box-shadow: 1px 1px 10px 1px #eee;
}
#upload {
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
}
.custm-id{
	float:right;
}
.custm-id p{
	margin:0px !important;
	padding:0px !important;
	color:#cccccc !important;
	font-size:14px !important;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}
.custm-id span{
	margin:0px !important;
	padding:5px 10px !important;
	color:#fff !important;
	font-size:14px !important;
	font-weight:400;
	border-radius:25px;
	background:#65af38;
	float:right;
	font-family: 'Roboto', sans-serif;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: none !important;
    border-top:  none !important;
    color: #999999 !important;
	text-transform:uppercase;
}

.table-bordered th, .table-bordered td {
    border: transparent;
}
.table-bordered {
    border: none;
}
.tr-spacer
{
  height: 20px;
background:trasparent !important;
}
.rejii-span{
	color:#fb2a2a !important;
}
.aprov-span{
	color:#11ce58 !important;
}
.view-reason{
	background:#fb2a2a;
	color:#fff !important;
	padding:5px;
	font-size:10px;
	margin:0px 0 0 0 !important;
	position:relative;
	top:-1px;
	left:10px;
	border:none;
	cursor:pointer;
}
.view-reason:before {
	position: absolute;
    top: 6px;
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
    right: auto;
    left: -10px;
    border-right-color: #fb2a2a;
    border-left-color: transparent;
}
.gen-invoice{
	background:#4485c6;
	color:#fff !important;
	padding:5px;
	font-size:10px;
	margin:0px 0 0 0 !important;
	display:inline-block;
	position:relative;
	top:-1px;
	left:10px;
	border:none;
	cursor:pointer;
}
.gen-invoice:before {
   position: absolute;
    top: 6px;
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
    right: auto;
    left: -10px;
    border-right-color: #4485c6;
    border-left-color: transparent;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #4485c6;
    border-color: #4485c6;
}
.tab-img{
	width:30px;
	height:30px;
	border-radius:50%;
	margin:-5px 5px -5px 0;
}
.card-title {
  	color:#151f4a !important;
	font-size:26px !important;
	font-weight:400;
	text-transform: uppercase !important;
	margin:0 0 15px 0;
	padding:0px;
	
}
.modal-dialog {
    margin: 8rem auto !important;
}
.invice-modal{}
.invice-modal .top-img{
	    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
    display: block;
    top: -25px;
}
.invice-modal h2{
		color:#4485c6;
	font-size:23px;
	font-weight:600;
	text-transform:capitalize;
	margin:15px 0;
	text-align:center;
}
.invice-modal h3{
		color:#333333;
	font-size:17px;
	font-weight:700;
	text-transform:capitalize;
	margin:0 0 10px 0;
}
.invice-modal h4{
		color:#4485c6;
	font-size:15px;
	font-weight:700;
	text-transform:capitalize;
	margin:19px 0;
}
.invice-modal h4 span{
		color:#666666;
	font-weight:400 !important;
}
.invice-modal ul{
	margin:0px 0 0 0px !important;
	padding:0px !important;
	list-style-type:none !important;
}
.invice-modal ul li{
	margin:0px  !important;
	padding:5px 0 5px 20px !important;
	list-style-type:none !important;
		color:#666666;
	font-size:15px;
	font-weight:400;
	background:url(../../images/bulit.png) no-repeat center left;
}
.invice-modal p{
		color:#999999;
	font-size:15px;
	font-weight:400;
}
.invice-modal a{
		color:#fff;
	font-size:15px;
	font-weight:700;
	display:table;
	padding:10px 30px;
	margin:15px auto;
	text-decoration:none;
	border-radius:5px;
	background:#4485c6;
}
.regi-modal{
}
.regi-modal ul{
	margin-left:60px !important;
}
.regi-modal h2{
		color:#fb2a2a !important;
}
.regi-modal a{
	background:#fb2a2a !important;
}
.table-com-a{
	color:#000 !important;
}
.disucs-thread-inner{
	padding:30px;
	box-sizing:border-box;
}
.disucs-thread-inner h1{
	color: #000000;
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 15px 0;
    padding: 0px;
}
.disucs-thread-inner h1{
	color: #666666;
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 15px 0;
    padding: 0px;
}
.disucs-thread-inner h2{
	color: #666666;
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 15px 0;
    padding: 0px;
}
.disucs-thread-inner .tag1{
	color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 10px 0px 0;
    padding: 2px 5px;
	display:inline-block;
	background:#4d4a79;
	border-radius:5px;
}
.disucs-thread-inner .tag2{
	color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 10px 0px 0;
    padding: 2px 5px;
	display:inline-block;
	background:#8ebe76;
	border-radius:5px;
}
.disucs-thread-inner .tag3{
	color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 10px 0px 0;
    padding: 2px 5px;
	display:inline-block;
	background:#dde39f;
	border-radius:5px;
}
.disucs-thread-inner-row{
	padding:20px 0px !important;
	border-bottom:1px solid #e9e9e9 !important;
}
.disucs-thread-inner-row h5{
	color: #666666;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 5px 0 15px 0;
    padding: 0px;
}
.disucs-thread-inner-row p{
	color: #999999;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 15px 0;
    padding: 0px;
}
.disucs-thread-inner-row a{
	color: #666666;
    font-size: 14px;
    font-weight: 400;
    margin:15px 20px 15px 0px;
    padding: 0px;
	text-decoration:none;
}
.disucs-thread-inner-row a i{
	margin:0 10px 0px 0 !important;
	display:inline-block;
}
.disucs-thread-inner-row .name-red{
	color: #fff;
    font-size: 17px;
    font-weight: 700;
    padding: 0px;
	text-decoration:none;
	background:#fe5555;
	width:30px;
	height:30px;
	text-align:center;
	border-radius:50%;
	float:left;
	padding-top:4px;
	margin: 0px 15px;
	
}
.disucs-thread-inner-row .name-green{
	color: #fff;
    font-size: 17px;
    font-weight: 700;
    padding: 0px;
	text-decoration:none;
	background:#55d58e;
	width:30px;
	height:30px;
	text-align:center;
	border-radius:50%;
	float:left;
	padding-top:4px;
	margin: 0px 15px;
}
.right-discs{
	width:95%;
	float:left;
}
.disucs-comment-sec{
	margin:30px 0px;
}
.disucs-comment-sec label{
	color:#999999;
	font-size:15px;
	display:block;
	margin:0 0 10px 0;
}

.disucs-comment-sec-txtara{
	width:100%;
	border:1px solid #d7d7d7;
	padding:10px;
}
.disucs-comment-sec-txtara a{
	font-size:18px !important;
	color:#666666;
	margin:5px;
}
.disucs-comment-sec-txtara textarea{
	width:100%;
	border:none;
	resize:none;
	height:150px;
}
.disucs-comment-sec .btn-primary{
	float:right;
	margin:15px 0px;
	background:#4485c6 !important;
	font-size:15px;
	font-weight:700;
	border:1px solid #4485c6 !important;
}
.modal-body iframe{
	width:100%;
	height:60vh;
	margin:10% auto;
	display:block;
}
.pdf-modall {
    max-width: 1000px !important;
}
.pdf-open-a{
	padding:0px !important;
	margin:-5px 0 !important;
}
.pdf-open-a img{
	margin:0 5px 0 0;
	float:left;
}
.pdf-text-span1{
	color:#333333;
	font-size:10px;
}
.pdf-text-span2{
	color:#999999;
	font-size:11px;
	display:block;
}
.admin-overview-main{
	padding:20px;
	box-sizing:border-box;
}
.admin-overview-main h2{
	font-size:16px;
	font-weight:400;
	color:#666666;
	margin:0px !important;
	padding:0 0 15px 0 !important;
}
.admin-overview-main .row{
	margin-top:30px !important;
}
.admin-overview-main .right-h2{
	color:#4485c6;
	font-weight:700;
	margin:0px !important;
	padding:0 0 15px 0 !important;
	border-bottom:1px solid #d3d0d0;
}
.admin-formmm{
	padding:20px;
	box-sizing:border-box;
}
.admin-formmm p{
	color:#999999 !important;
	font-size:16px !important;
	padding-top:10px !important;
}
.admin-formmm a{
	color:#4485c6 !important;
}
.admin-formmm input{
	margin-bottom:20px !important;
	display:block;
}
.admin-formmm textarea{
	resize:none;
	height:120px;
		margin-bottom:20px !important;
}
.admin-formmm label{
	font-weight:600 !important;
	color:#333333 !important;
}
.admin-formmm .card-body {
	padding:0px !important;
}
.admin-formmm .btn-primary {
    border-color: #4485c6 !important;
    background-color: #4485c6 !important;
    color: #FFFFFF;
    font-size: 15px !important;
    border-radius: 25px;
    padding: 11px 50px !important;
	display:table !important;
	margin:20px auto !important;
	text-transform:uppercase;
	font-weight:700;
}


.nav.nav-tabs.nav-underline .nav-item {
      position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    -webkit-flex: 0;
    -moz-flex: 0;
    -ms-flex: 0;
    flex: 0;
    margin-left: 0;
}
.nav.nav-tabs.nav-underline {
    background: transparent;
    position: relative;
	text-align: center;
    border-bottom: none !important;
	    display: block;
}
.nav.nav-tabs.nav-underline .nav-item a.nav-link {
    position: relative;
       display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
    padding: 0.5rem 1rem;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    color: #999999;
    border: none;
	font-size: 20px;
	text-transform: uppercase;
	border-bottom: 2px solid #999999;
	margin: 0px 10px;
}
.nav.nav-tabs.nav-underline .nav-item a.nav-link.active {
    border: none;
    background-color: transparent;
	color:#ee2c48 !important;
	border-bottom: 2px solid #ee2c48;
}
.nav.nav-tabs.nav-underline .nav-item a.nav-link:before {
    background: transparent;
}
.green-btn-project {
    float: right;
    font-size: 13px;
    color: #ffffff !important;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
	background: #ee2c48;
	margin-left: 10px;
}
.green-btn-project i{
	margin:0 7px 0 0;
}
.green-btn-project:hover{
	background:#6169af;
}
table#DataTables_Table_0{
	width: 100%;
	border-spacing: 0 26px;
}
#DataTables_Table_1 {
	width: 100%;
	border-spacing: 0 26px;
}
#DataTables_Table_2 {
	width: 100%;
	border-spacing: 0 26px;
}
#DataTables_Table_3 {
	width: 100%;
	border-spacing: 0 26px;
}
.table tbody td {
    padding: 1.50rem 2rem;
}
.maain-tabble tbody tr {
	    background-color: transparent !important;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.btn-drop-table{
	font-size:22px !important;
	margin:0px !important;
	padding:0px !important;
	background:transparent !important;
	border:none !important;
	float:right;
	color:#999999 !important;
}
.dropdown-toggle::after {
	display:none;
}
tbody tr .mb-1, .my-1 {
    margin-bottom: 0px !important;
	    float: right;
		margin-top:-2px;
}
.dataTables_length {
    display: none;
}
.dataTables_filter {
    display: none;
}
.dropdown-item i{
	padding:0 8px 0 0;
}
.discus-iccon{
	padding:0 5px 0 0;
	color:#666666 !important;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation > li > a > i {
    margin-right: 12px;
    width: 20px;
}
.nav.nav-tabs.nav-underline .nav-item a.nav-link:hover, .nav.nav-tabs.nav-underline .nav-item a.nav-link:focus {
    color: #fa782a;
}
.blue-center-btn{
	display:table;
	padding:13px 0px;
	border:none;
	margin:15px auto 0px auto;
	background:#1f3491;
	border-radius:5px;
	color:#fff;
	text-transform:uppercase;
	font-size:17px;
	font-weight:700;
	cursor:pointer;
	text-decoration:none;
	width:250px;
	text-align:center;
}
.projecct-formm{}
.projecct-formm i{
	color:#666666 !important;
}
.projecct-formm label{
	color:#999999 !important;
	font-size:14px !important;
}
.form-client-right-span{
	color:#cccccc;
	font-size:13px;
	float:right;
}
.form-client-right-span button{
	color:#5da9ff;
	font-size:13px;
	border:none;
	background:transparent;
	text-decoration:underline;
}
.add-clint-modaal{
	max-width:1000px !important;
	padding:0px !important;
}
.add-clint-modaal .modal-body {
    padding: 30px !important;
}
.add-clint-modaal h2{
	color:#666666 !important;
	font-size:26px !important;
	text-transform:uppercase;
	margin-bottom:30px !important;
}
.uplon-btn{
	border:none;
	background:transparent;
	margin-top: 25px;
}
.img-full{
	width:100%;
}
.pro-task-card{
	background:#fff;
	display:table;
	width:220px;
	padding:15px 15px 10px 15px;
	display:inline-block;
	margin-top:20px;
	    background-color: transparent !important;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.pro-task-card .pdf-open-a img {
    margin: 4px 5px 0 0;
    float: left;
}
.pro-task-card .pdf-open-a{
	float:left;
	    width: 126px;
}
.pro-task-card .download-span{
	float:right;
	font-size:25px;
	border-left:1px solid #ccc;
	padding-left:15px;
}
.project-detail-right{
	border-bottom:1px solid #eee !important;
	padding:20px 0px;
	width:60%;
}
.project-detail-right p{
	color:#999999 !important;
	font-size:14px;
	margin:0px !important;
	padding:0px !important;
}
.project-detail-right h5{
	color:#666666 !important;
	font-size:14px;
	margin:0px !important;
	padding:0px !important;
	font-weight:700;
}
.project-detail-right:nth-child(2) span{
	color:#7dc245;
}
.project-detail-right:nth-child(3) span{
	color:#151f4a;
}
.icon-span1{
	float:left;
	font-size:30px;
	color:#ec553a;
	margin:0 10px 0 0;
}
.pro-task-detail p{
	margin:0px !important;
	padding:20px 0 0 0;
	color:#666666;
}
.pro-task-detail p i{
	margin:0 5px 0 0;
}
.pro-task-detail .pro-span{
	font-weight:700 !important;
	color:#666666;
}
.pro-task-detail .blue-span{
	font-weight:700 !important;
	color:#0095e6;
}
.pro-task-detail .right-border{
	border-right:1px solid #ccc;
}
.card-header .green-btn-project{
	margin:-7px 0 0 0 !important;
}
.client-pro-main{}
.client-pro-main h1{
	text-transform:uppercase;
	font-weight:400 !important;
	margin-bottom:20px;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ee2c48 !important;
}
.client-pro-main h2{
	font-weight:400 !important;
	margin:0px !important;
	padding:0px 0px !important;
	font-size:22px !important;
	color:#333333 !important;
	text-transform:capitalize;
}
.client-pro-main h5{
	font-weight:400 !important;
	margin:0px 0 15px 0 !important;
	padding:0px 0px !important;
	font-size:13px !important;
	color:#999999 !important;
}
.client-pro-main h5 span{
	font-weight:700 !important;
	color:#000 !important;
	text-transform:uppercase;
}
.emplo-img-glr{
	width:100%;
	max-height:200px;
	border-radius:5px;
}
.client-pro-main p{
	color:#999999;
	font-size:14px;
	margin:0 0 25px 0 !important;
	padding:0px !important;
}
.client-pro-main .uplon-btn2 {
	padding:0px;
}
.client-pro-main p i{
	margin:0 5px 0 0;
	width: 17px;
}
.employ-icn-roww{
	padding-top:50px;
}
.client-innr-span{
	color:#333333;
	display:block;
	    margin: 3px 0px 0 0;
	font-weight:700;
}
.pro-img{
	border-radius:5px;
	max-width:100%;
	width:100%;
}
.cleint-profile-card{
	box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
	padding:15px;
	margin:0 0 20px 0;
}

.cleint-profile-card p{
	color:#cccccc !important;
	font-size:15px;
	margin:5px 0 0 0 !important;
	padding:0px !important;
	float:left;
	text-transform:uppercase;
}
.cleint-profile-card h5{
	color:#666666 !important;
	font-size:45px !important;
	margin:0px !important;
	padding:0px !important;
	font-weight:700 !important;
	float:right;
}
.cleint-profile-card i{
	color:#7dc245;
	font-size:36px;
	margin:7px 10px 0 0;
	float:left;
}
.cleint-profile-card:nth-child(2) i{
	color:#5190c6;
}
.cleint-profile-card:nth-child(3) i{
	color:#ee3c66;
}
.uplon-btn2{
	border:none;
	background:transparent;
	width:100%;
	padding: 0px;
}
.emply-overview-h3{
	font-size:20px !important;
	font-weight:700;
	color: #333333;
	margin: 0px 0 20px 0 !important;
	padding: 0px !important;
	text-transform: uppercase;
}
.emply-overview-h2{
	font-size:20px !important;
	font-weight:700;
	color: #666666;
	margin: 30px 0 20px 0 !important;
	padding: 0px !important;
	text-transform: capitalize;
}
.emply-overview-card{
	background: #fff;
	padding: 10px;
	border-radius:5px;
	width: 100%;
	margin: 0px 0 20px 0 !important;
	box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.03), 0 2px 9px 0 rgba(62, 57, 107, 0.03);
}
.emply-overview-card img{
	width: 40px;
	height: 40px;
	float: left;
	border-radius:50%; 
	margin: 0 8px 0 0;
}
.emply-overview-card p{
	font-size:14px !important;
	font-weight:400;
	color: #666666;
	margin: 10px 0 0 0 !important;
	padding: 0px !important;
	float: left;
}
.emply-overview-card h5{
	font-size:20px !important;
	font-weight:700;
	color: #d7b147;
	margin: 10px 0 0 0 !important;
	padding: 0px !important;
	float: right;
}
.pro-pic-txt{
	text-align:center;
	font-size:15px !important;
	font-weight:500;
	margin-top:15px;
}
.add-clint-modaal .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0;
    padding-left: 37px !important;
}
.add-clint-modaal .select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100% !important;
    /* padding-left: 30px; */
}
.add-dept-innr{}
.add-dept-innr label{
	color:#999999 !important;
}
.up-doc {
    font-size: 18px !important;
    color: #666666;
    margin: 5px;
    background: transparent !important;
    border: none !important;
}
#upload {
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
}
.cntr-btnn-main{
	width: 100%;
	display: block;
	margin: 10px auto;
	text-align: center;
}
.cntr-btnn-main a,.cntr-btnn-main button{
	background: #293492;
	color: #fff;
	padding: 10px 50px;
	display: inline-block;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px;
	border-radius:25px;
	border: 1px solid #293492;
}
.cntr-btnn-main a:hover,.cntr-btnn-main button:hover{
	background: #fff;
	color: #293492;
	border: 1px solid #293492;
}
.card .container-fluid {
	padding: 0px;
}

.client-pro-main .cntr-btnn-main a{
	width: 290px;
}
.table tbody td{
	color: #666666 !important;
	font-weight: 500;
}
.name-card{
	padding: 15px;
	background: #fff;
	border-radius:7px;
	margin: 10px 15px 10px 0;
	float: left;
}
.name-card span{
	font-size: 13px;
	color: #999999;
	font-weight: 300;
	display: block;
	text-transform: capitalize;
}
.name-card h5{
	font-size: 20px !important;
	color: #d9b64c !important;
	font-weight: 500 !important;
	display: block;
	text-transform: uppercase;
	margin: 0px !important;
	padding: 0px !important;
}
.emply-video-container{
	width: 80%;
	margin: 20px auto;
}
.emply-video-container .name-card{
	float: right;
	margin: 0 0 0 15px;
}
.emply-video-container-inner{
	width: 100%;
	padding: 10px 15px;
	background: #fff;
	position: relative;
}
.emply-video-container-inner .vid-dura{
	font-size: 11px;
	color: #999999;
	font-weight: 400;
	display: block;
	text-transform: capitalize;
}
.emply-video-container-inner .vid-time{
	font-size: 21px;
	color: #999999;
	font-weight: 400;
	display: block;
	text-transform: capitalize;
}
.emply-video-container-inner .rept-bag{
	font-size: 12px;
	color: #fff;
	font-weight: 400;
	background: #e02828;
	padding: 5px 10px 3px 10px;
	border-radius:25px; 
	text-transform: uppercase;
	position: absolute;
	right: 30px;
	top: 10px;
}
.emply-video-container-inner .pull-right{
	padding-right: 160px;
}
.emply-video-container h3{
	font-size: 21px;
	color: #e02828;
	font-weight: 400;
	display: block;
	text-transform: uppercase;
	margin: 10px 0 0 0;
}
.emply-video-container h3 i{
	padding: 0 10px 0 0;
}
.vid-btnn{
	background: transparent;
	float: left;
	border: none;
	padding: 0px;
}
.emply-video-container-bottom{
	padding: 20px 0px;
}
.gift-popup-main{
	max-width: 320px !important;
}
.gift-popup-main{
	max-width: 320px !important;
}
.gift-popup-main .modal-body {
    padding: 10px !important;
}
.gift-popup{
	border:1px dashed #fa8d9e;
	text-align: center;
	padding: 60px 10px 10px 10px;
	border-radius:5px; 
}
.gift-popup img{
	position: absolute;
	left: 0;
	right: 0;
	top: -40px;
	margin: 0px auto;
}
.gift-popup h3{
	font-size: 18px;
	color: #999999;
	font-weight: 400;
	padding: 10px 0px 0px 0px;
	text-transform: uppercase;
}
.gift-popup h4{
	font-size: 35px;
	color: #dbba51;
	font-weight: 400;
	padding: 0px 0px;
	text-transform: uppercase;
}
.gift-popup a {
    background: #fa8d9e;
    color: #fff;
    padding: 10px 40px;
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #fa8d9e;
}
.gift-popup a:hover {
    background: #fff;
    color: #fa8d9e;
    border: 1px solid #fa8d9e;
}
.emply-txtara{
	height: 150px;
	resize: none;
}
.emply-contact-btn{
	margin: 10px 0px !important;
	width: 100% !important;
}
.admin-employ-add{
	width: 80%;
	margin: 15px auto;
}
.admin-employ-add h2{
	color: #666666;
	font-size: 22px;
	margin: 30px 0px;
	padding: 0px;
	text-transform: capitalize;
}
.app-content .wizard > .steps > ul > li.current .step {
    border-color: #fa8d9e !important;
    background-color: #fff;
    color: #fa8d9e !important;
}
.app-content .wizard > .steps > ul > li.done .step {
    background-color: #fa8d9e !important;
    border-color: #fa8d9e !important;
    color: #fff;
}
.app-content .wizard.wizard-circle > .steps .step {
    width: 50px;
    height: 50px;
    line-height: 40px;
    border: 5px solid #fff !important;
    font-size: 1.3rem;
    border-radius: 50%;
	background: #eeeeee !important;
}
.app-content .wizard.wizard-circle > .steps > ul > li.current ~ li:before {
    background-color: #fff !important;
}
.app-content .wizard.wizard-circle > .steps > ul > li.current:after {
    background-color:#fff !important;
}
.app-content .wizard.wizard-circle > .steps > ul > li.current ~ li:after {
    background-color:#fff !important;
}
.app-content .wizard.wizard-circle > .steps > ul > li:before, .app-content .wizard.wizard-circle > .steps > ul > li:after {
    top: 43px;
    width: 50%;
    height: 5px;
    background-color: #fa8d9e !important;
}
.app-content .wizard > .actions {
    position: relative;
    display: block;
    text-align: center !important;
    padding: 20px;
    padding-top: 0;
}
.app-content .wizard > .actions > ul {
    float: none !important;
    list-style: none;
    padding: 0;
    margin: 20px 0px !important;
    display: inline-block !important;
}
.app-content .wizard > .actions > ul > li > a {
    background: #d7b147 !important;
    color: #fff;
    display: block;
    padding: 7px 12px;
    border-radius: 2px;
    border: 1px solid transparent;
	width: 150px !important;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
}
.app-content .wizard > .actions > ul > li.disabled > a {
    color: #fff !important;
	background: #d7b147 !important;
}
.app-content .wizard > .actions > ul > li > a[href="#previous"] {
    background-color: #fcfcfc;
    color: #fff !important;
}
.col-md-2.col-sm-12 .emplo-img-glr{
	margin:15px 0px;
}
.emply-step2-span{
	color: #cccccc;
	font-size: 16px;
}
.emply-step3-packges{
	background: #fff;
	border-radius:8px;
	margin: 10px 0px;
	text-align: center;
	width: 100%;
	box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.emply-step3-packges .col-md-6{
	border-right:1px solid #e8e8e6; 
}
.emply-step3-packges .col-md-6:last-child{
	border-right:none; 
}
.emply-step3-packges h5{
	    font-size: 18px;
    font-weight: 700;
    margin: 0px;
    padding: 10px 0;
    display: block;
    border-radius: 8px 8px 0px 0px;
    color: #fff;
    background: #fa8d9e;
    text-transform: uppercase;
}
.emply-step3-packges p{
	font-size: 13px;
	font-weight: 500;
	margin: 0px;
	padding: 20px 0;
	color: #666666;
}
.emply-step3-packges-btn {
    float: right;
    font-size: 15px;
    color: #d7b147;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 30px 10px 30px;
    border-radius: 25px;
	background: transparent;
	border:1px solid #d7b147;
	float: left;
	margin: 30px 0px;
}
.emply-step3-packges-btn:hover {
    color: #fff;
	background: #d7b147;
	border:1px solid #d7b147;
}
.admin-add-cstmr{
	width: 80%;
}

.pack-popup-main .modal-body {
    padding: 0px !important;
}
.pack-popup-main .modal-content{
	border:none !important;
	padding-bottom: 5px;
	text-align: center;
}
.pack-popup-header{
	background: #ee2c48;
	border-radius:5px 5px 0px 0px;
	margin: 0px;
}
.pack-popup-header h6{
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	padding: 15px;
	margin: 0px;
	text-transform: capitalize;
}
.pack-popup-main .col-md-6{
	border-right:1px solid #f3f3f3; 
}
.pack-popup-main .col-md-6:last-child{
	border-right:none; 
}
.pack-popup-row{
	border-bottom: 1px solid #f3f3f3;
	background: #fff;
	margin: 0px;
}
.pack-popup-row p{
	color: #999999 !important;
	font-size: 15px;
	padding: 20px 20px 15px 20px !important;
	margin: 0px;
}
.pack-popup-row span{
	color: #ee2c48 !important;
	font-size: 17px;
	padding: 18px 15px 15px 15px!important;
	margin: 0px;
	font-weight: 700;
	display: block;
}
.maain-tabble i{
	margin-right: 5px;
}
.emply-overview-card .user-employe-listing-veiw-btn{
	display: block;
	margin: 3px 0px;
}
.user-employe-listing{
	margin: 20px 0px;
}
.user-employe-listing img{
	border-radius:5px; 
}
.user-employe-listing p{
	margin-bottom: 10px !important;
}
.user-employe-listing h3{
	color: #333333;
	font-size: 20px;
	padding: 5px 0px;
}
.user-employe-listing-veiw-btn{
	color: #999999;
	font-size: 11px;
	display: inline-block;
	margin: 0 8px 0 0;
}
.user-employe-listing-veiw-btn i{
	color: #fff;
	font-size: 14px;
	background: #d7b147;
	padding: 6px;
	border-radius:50px;
	margin: 0 5px 0 0;
}
.emply-overview-card .col-md-8{
	padding-top: 10px;
}
.emply-overview-card .col-md-8 span{
	color: #999999;
	font-size: 12px;
	margin-right: 5px;
}
.emply-overview-card .col-md-8 p{
	float:none;
	margin: 0px !important;
}
.user-pack-popup-main {
    max-width: 900px !important;
}
.user-pack-popup-main .modal-body {
    padding: 10px !important;
}
.user-pack-popup-main h5{
	font-size: 35px;
	color: #dbba51;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	padding: 20px 0px;
}
.user-pack-popup-main h6{
	font-size: 22px;
	color: #fa8d9e;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	padding: 5px 0px;
}
.user-pack-popup-main-boxs {
	text-align: center;
	padding: 20px;
}
.user-pack-popup-main-boxs:hover {
	box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
	background: #fff;
}
.user-pack-popup-main-boxs ul {
	list-style-type: none;
	display: block;
	margin: 0px;
	padding: 0px;
}
.user-pack-popup-main-boxs ul li {
	list-style-type: none;
	display: block;
	margin: 0px;
	padding:8px 0 8px 20px;
	text-align: left;
	  background: url(../../images/user-bulit.png) no-repeat 0px 15px !important;
	color: #999999;
	font-size: 14px;
}
.user-pack-popup-main .gift-popup {
    border: 2px dashed #fa8d9e;
    text-align: left;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}
.overview-card {
    background: #fff;
    padding: 10px;
    margin: 0 0 15px 0;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.overview-card img {
    float: left;
    width: 67px !important;
    height: 67px !important;
    margin: 0 8px 0 0;
}
.overview-card h5 {
    color: #666666;
    font-size: 14px;
    padding: 0 0 5px 0;
    margin: 0px;
    font-weight: 700;
}
.overview-card p {
    color: #c1c1c1;
    font-size: 11px;
    padding: 5px 0px;
    margin: 0px !important;
    line-height: 12px !important;
}
.recent-boxs{
	margin:0px 0px 15px 0px;
}
.recent-boxs img{
	width: 100%;
}
.recent-boxs h6{
	color: #666666;
	font-size: 16px;
	margin: 10px 0px 0 0;
	padding: 0px;
}
.recent-boxs p {
    color: #c1c1c1;
    font-size: 12px;
    padding: 5px 0px;
    margin: 0px !important;
    line-height: 13px !important;
}
.empp-pdf-icon{
	    margin: -5px 5px -5px 0;
	display: inline-block;
}
.client-pro-main h2 {
    font-weight: 700 !important;
    margin: 0px !important;
    padding: 7px 0px !important;
    font-size: 20px !important;
    color: #333333 !important;
}
.client-pro-main p {
    color: #999999;
    font-size: 14px;
    margin: 0 0 25px 0 !important;
    padding: 0px !important;
}
.rprt-log-p{
	text-align: left !important;
	color: #999999 !important;
	font-size: 14px;
	padding: 25px 15px !important;
	margin: 0px;
	line-height: 30px;
}
.form-group input[type="date"]{
    padding-top: 8px;
    padding-bottom: 8px;
}
.testi-filed-icon {
    width: 3%;
    float: left;
    margin: 8px 0px 0 0;
}
.testi-filed-main {
    width: 97%;
    float: right;
}
.pad-t25{
	padding-top: 25px;
	
}
@media (max-width:1151px) {
.project-detail-right {
    border-bottom: 1px solid #eee !important;
    padding: 20px 0px;
    width: 100%;
}
}
@media (min-width: 768px) and (max-width: 999px) {
}
@media (max-width: 767px) {
}
@media (max-width: 480px) {
	.green-btn-project {

    float: left;
    font-size: 13px;
    color: #ffffff !important;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 3px;
    background: #7dc245;
    margin: 10px 0 0 0 !important;
    position: relative;
}
.card-header .green-btn-project {
    margin: 10px 0 0 0 !important;
}
.form-client-right-span {

    color: #cccccc;
    font-size: 13px;
    float: none;
    display: block;
    margin: 5px 0px;

}
.blue-center-btn {
    width: 100%;
    text-align: center;

}
.card-title.pull-left{
	float:none;
}
.form-group .pull-left{
	float:none;}
}
